$body-color: #FFFF !default;
$board-color: red !default;

$cell-border-color: green !default;
$cell-color1: rgb(154, 154, 216) !default;
$cell-color2: rgb(233, 240, 138) !default;
$cell-color3: rgb(188, 248, 198) !default;
$cell-color4: rgb(250, 144, 171) !default;
$cell-color5: rgb(187, 247, 219) !default;
$cell-color6: rgb(186, 236, 173) !default;
$cell-color7: rgb(179, 130, 174) !default;
$cell-color8: rgb(221, 245, 167) !default;
$cell-color9: rgb(243, 156, 156) !default;
$cell-color10: rgb(212, 166, 166) !default;

